# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IntelliJ related
.idea/
.settings/
*.iml

# VS Code related
.vscode/

# macOS related
.DS_Store

# Web related
lib/generated_plugin_registrant.dart

# Symbolicated files
*.symbols
