# Flutter
*.dart_tool/
*.packages
.pub/
build/

# Dart
*.dart_tool/
*.package/

# Android
.android/
.idea/
*.iml

# iOS
ios/Pods/
*.xcworkspace
*.xcuserstate
*.xcscheme
*.xcodeproj/
*.xcuserdatad/
*.xcuserdata/
*.xcodeproj/
*.metadata
*.flutter-plugins
*.flutter-plugins-dependencies
*.flutter-plugins-dependencies.lock
*.flutter-plugins-dependencies.json
*.flutter-plugins-version
*analysis_options.yaml
*devtools_config.yaml
*pubspec.lock


# Environment files
*.env
*.env.prod
*.env.dev

# Logs
*.log

# Miscellaneous
*.tmp
*.swp

# MacOS
.DS_Store

# Windows
Thumbs.db

### Personal Keys

```bash
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
```